

@page "/about"

<div class="about-container">
    <h2>Acerca del Desarrollador</h2>
    
    <div class="developer-info">
        <img src="/images/developer.jpg" alt="Desarrollador" />
        <h3>Jason Mendoza,a 20231889 </h3>
        <p>Muestra todas las vivencias registradas por el usuario en formato de tarjetas.
</p>
    </div>
</div>